*{
    box-sizing:border-box;
}

body{
    margin:0;
    padding:0;
}
.main{
    width:80%;
    margin:0 auto;
    background-color:antiquewhite;
    padding-left:10px;
}
.image ul{
    padding-inline-start: 14px;
}
.image ul li{
    list-style-type: none;
    padding-inline-start: 0px;
}
.occupation{
    display:flex;
}
#occupation1{
    text-align:right;
    font-size:1.2rem;
}
#occupation2{
    padding-left:2px;
    padding-top:5px;
    font-size:1.1rem;
}
#image-ul{
    margin-top:-2px;
    background-color:blue;
    width:235px;
    padding-top:0px;
    font-size:1.2rem;
    color:white;
}
.technology{
    display:flex;
    justify-content:space-between;
}
.technology ul{
    list-style-type: none;
    padding-inline-start: 5px;
}
.technology ul li{
    padding-bottom:15px;
}
.column2{
    box-sizing: border-box;
    margin-right:5px;
}
.column2 h1{
    margin:0px;
}
.column2 ul{
    margin-bottom:0px;
}
.header h1{
    background-color:blue;
    margin-bottom:0px;
    color:white;
    font-size:3rem;
    font-weight:800;
}
@media only screen and (min-width:576px){
    .main{
        background-color:beige;
    }
    .container{
        display:flex;
    }
    #occupation1{
        text-align:right;
        font-size:1.2rem;
    }
    #occupation2 li{
        padding-left:2px;
        padding-bottom:5px;
        font-size:0.9rem;
    }
    .column2{
        padding-left:20px;
    }
    .column2 ul li{
        font-size:0.7rem;
    }
    .techspan p{
        margin:12px;
    }
    
}